@font-face {
  font-family: '[free version] Sketch Block Bold';
  font-style: normal;
  font-weight: normal;
  src: local('[free version] Sketch Block Bold'), url('Sketch_Block.woff') format('woff');
}

body {
  font-family: '[free version] Sketch Block Bold';
  background: url('fondo2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
.container{
  margin:2rem;
}
.grid_madlibs {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lib {
  display: flex;
  background-color: rgba(238, 231, 227, 0.8);
  padding: 0.625rem;
  margin: 0.625rem;
  border-radius: 1.875rem;
  border-style:outset;
  text-align:center;
  /* max-width: 90%;
  height: 90%; */
  width: 10rem;
  height: 10rem;
  align-items: center;
  justify-content: center;
}

.lib:hover {
  transition: all 1s;
  transform: scale(1.1);
  cursor:pointer;
}

.box {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  cursor:pointer;
  font-size:1rem;
}

.question {
  font-weight: bold;
}

.Title {
  background-color: rgba(238, 231, 227, 0.8);
  padding: 0.625rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.875rem;
  border-style:outset;
  text-align:center;
  max-width: 50%;
  height: 90%;
}

.button {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  cursor:pointer;
  font-size:0.65rem;
}

.question {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
}

.enter {
  background-color: rgba(238, 231, 227, 0.8);
  padding: 0.625rem;
  margin: 0.625rem;
  border-radius: 1rem;
  border-style:outset;
  text-align:center;
}
.input {
  background-color: rgba(238, 231, 227, 0.8);
  border-radius:1rem;
  border-color: slategrey;
  border-width:0.0625rem;
}

.finalLib {
  display:grid;
  align-items: center;
  justify-content: center;
  height:100vh;
}
.finalbutton {
  background-color: rgba(238, 231, 227, 0.8);
  padding: 0.625rem;
  margin: 0.625rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  border-style:outset;
  text-align:center;
  cursor:pointer;
  font-size:0.65rem;
  max-width: 50%;
}
.finalbutton:hover {
  transition: all 1s;
  transform: scale(1.1);
  cursor:pointer;
}

.storyF {
  font-size: 1rem;
  background-color: rgba(238, 231, 227, 0.8);
  padding: 0.625rem;
  margin: 0.625rem;
  border-radius: 1rem;
  border-style:outset;
  text-align:center;
}