@font-face {
  font-family: '[free version] Sketch Block Bold';
  font-style: normal;
  font-weight: normal;
  src: local('[free version] Sketch Block Bold'), url('./assets/Sketch_Block.woff') format('woff');
}

body {
  font-family: '[free version] Sketch Block Bold';
  background: url('./assets/fondo2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}